.free-shipping
	display: flex
	flex-direction: column
	padding: 24px 0

.free-shipping-title
	font-size: 13px
	font-weight: 500
	line-height: 1
	margin-bottom: 4px

.free-shipping-subtitle
	font-size: 13px
	line-height: normal
	margin-bottom: 24px